html {
  background-position: center top;
  background-color: #343a44;
}

body {
  text-transform: uppercase;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main {
  margin: auto;
  text-align: center;
  width: 75%;
  color: #8e9099;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#fullName {
  margin-top: 22%;
  margin-bottom: 3%;
  font-size: 2.8em;
  animation-delay: 750ms;
  animation-duration: 2s;
}

firstName {
  color: white;
  letter-spacing: 0.14em;
}

lastName {
  color: #8e9099;
  letter-spacing: 0.1em;
}

#description {
  letter-spacing: 0.12em;
  font-size: 1.25em;
  animation-delay: 1500ms;
  animation-duration: 2s;
}

#contacts {
  font-size: 3.2em;
  letter-spacing: 0.43em;
  margin-top: 8%;
  animation-delay: 2000ms;
  animation-duration: 5500ms;
}

#contacts a:hover {
  color: white;
  cursor: pointer;
}

.link {
  color: #b7b7bc;
}

@media only screen and (max-width: 480px) {
  .main {
    margin-top: 35%;
  }

  #contacts {
    margin-top: 20%;
  }

  #description {
    margin-top: 15%;
  }
}