html {
  background-position: center top;
  background-color: #343a44;
}

body {
  text-transform: uppercase;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main {
  margin: auto;
  text-align: center;  /* To center the div */
  width: 75%;
  padding: 15px;
  color: #8e9099;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#fullName {
  margin-top: 22%;
  margin-bottom: 25px;
  font-size: 40px;
  animation-delay: 750ms;
  animation-duration: 2s;
}

firstName {
  color: white;
  letter-spacing: 10px;
}

lastName {
  color: #8e9099;
  letter-spacing: 5px;
}

#description {
  letter-spacing: 2px;
  font-size: 20px;
  animation-delay: 1500ms;
  animation-duration: 2s;
}

#contacts {
  font-size: 50px;
  letter-spacing: 20px;
  margin-top: 80px;
  animation-delay: 2000ms;
  animation-duration: 5500ms;
}

#contacts a:hover {
  color: white;
  cursor: pointer;
}

.link {
  color: #b7b7bc;
}